{
	"arrowParens": "avoid",
	"parser": "typescript",
	"trailingComma": "es5",
	"singleQuote": true,
	"tabWidth": 4,
	"printWidth": 100,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": false,
	"jsxBracketSameLine": false
}