@import '../theme/blueprint-vars';
@import "~@blueprintjs/core/src/common/variables";
@import "~@blueprintjs/core/src/common/colors";
@import "~@blueprintjs/core/src/typography";
@import "~@blueprintjs/core/src/accessibility";
@import "~@blueprintjs/core/src/components/index";
@import './utils';

:focus {
	outline: none !important;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip-ink: auto;
	background: white;

	&.has-drawer-open {
		overflow: hidden;
	}
}

// resets
.bp3-button {
	box-shadow: none !important;
	background-image: none !important;
}